<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer__middle-section">

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Popular Clinics</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#">Erectile Dysfunction</a></li>
        <li><a href="#">Hair Loss</a></li>
        <li><a href="#">Contraceptive Pill</a></li>
        <li><a href="#">Morning After Pill</a></li>
        <li><a href="#">Chlamydia treatment</a></li>
        <li><a href="#">Gonorrhea treatment</a></li>
        <li><a href="#">Herpes Treatment</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Useful Links</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#">How it Works</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">DrEd Careers</a></li>
        <li><a href="#">Delivery & Packaging</a></li>
        <li><a href="#">Terms and Conditions</a></li>
        <li><a href="#">TContact DrEd</a></li>
        <li><a href="#">Privacy and Cookie Policy</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">DrEd Abroad</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#">DrEd Ireland</a></li>
        <li><a href="#">DrEd Germany</a></li>
        <li><a href="#">DrEd Austria</a></li>
        <li><a href="#">DrEd Switzerland</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">We appreciate your feedback.</h1>
    </div>

  </div>

  <div class="mdl-mega-footer__bottom-section">
    <div class="mdl-logo">Health Bridge Limited (t/a DrEd), 3 Angel Square, 4th Floor, 1 Torrens Street,</div>
    <ul class="mdl-mega-footer__link-list">
      <li><a href="#">Help</a></li>
      <li><a href="#">Privacy & Terms</a></li>
    </ul>
  </div>

</footer>
